<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>userloginController</display-name>
    <servlet-name>userloginController</servlet-name>
    <servlet-class>com.kk.app.Contoller.userloginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userloginController</servlet-name>
    <url-pattern>/userloginController</url-pattern>
  </servlet-mapping>
  <display-name>CakeShop</display-name>
  <welcome-file-list>
    <welcome-file>/JSP/Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>userRegistrstionController</display-name>
    <servlet-name>userRegistrstionController</servlet-name>
    <servlet-class>com.kk.app.Contoller.userRegistrstionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegistrstionController</servlet-name>
    <url-pattern>/userRegistrstionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCakeController</display-name>
    <servlet-name>AddCakeController</servlet-name>
    <servlet-class>com.kk.app.Contoller.AddCakeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCakeController</servlet-name>
    <url-pattern>/AddCakeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecakeController</display-name>
    <servlet-name>deletecakeController</servlet-name>
    <servlet-class>com.kk.app.Contoller.deletecakeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecakeController</servlet-name>
    <url-pattern>/deletecakeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cakeDisplayAllController</display-name>
    <servlet-name>cakeDisplayAllController</servlet-name>
    <servlet-class>com.kk.app.Contoller.cakeDisplayAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cakeDisplayAllController</servlet-name>
    <url-pattern>/cakeDisplayAllController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchcakeController</display-name>
    <servlet-name>searchcakeController</servlet-name>
    <servlet-class>com.kk.app.Contoller.searchcakeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchcakeController</servlet-name>
    <url-pattern>/searchcakeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatecakeController</display-name>
    <servlet-name>updatecakeController</servlet-name>
    <servlet-class>com.kk.app.Contoller.updatecakeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecakeController</servlet-name>
    <url-pattern>/updatecakeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartController</display-name>
    <servlet-name>AddCartController</servlet-name>
    <servlet-class>com.kk.app.Contoller.AddCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartController</servlet-name>
    <url-pattern>/AddCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartDisplayAllController</display-name>
    <servlet-name>cartDisplayAllController</servlet-name>
    <servlet-class>com.kk.app.Contoller.cartDisplayAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartDisplayAllController</servlet-name>
    <url-pattern>/cartDisplayAllController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orderController</display-name>
    <servlet-name>orderController</servlet-name>
    <servlet-class>com.kk.app.Contoller.orderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderController</servlet-name>
    <url-pattern>/orderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileController</display-name>
    <servlet-name>UpdateProfileController</servlet-name>
    <servlet-class>com.kk.app.Contoller.UpdateProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileController</servlet-name>
    <url-pattern>/UpdateProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectProfileController</display-name>
    <servlet-name>selectProfileController</servlet-name>
    <servlet-class>com.kk.app.Contoller.selectProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectProfileController</servlet-name>
    <url-pattern>/selectProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartBackController</display-name>
    <servlet-name>CartBackController</servlet-name>
    <servlet-class>com.kk.app.Contoller.CartBackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartBackController</servlet-name>
    <url-pattern>/CartBackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartRemoveItemController</display-name>
    <servlet-name>CartRemoveItemController</servlet-name>
    <servlet-class>com.kk.app.Contoller.CartRemoveItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartRemoveItemController</servlet-name>
    <url-pattern>/CartRemoveItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userDisplayAll</display-name>
    <servlet-name>userDisplayAll</servlet-name>
    <servlet-class>com.kk.app.Contoller.userDisplayAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDisplayAll</servlet-name>
    <url-pattern>/userDisplayAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllorders</display-name>
    <servlet-name>DisplayAllorders</servlet-name>
    <servlet-class>com.kk.app.Contoller.DisplayAllorders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllorders</servlet-name>
    <url-pattern>/DisplayAllorders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userlogoutController</display-name>
    <servlet-name>userlogoutController</servlet-name>
    <servlet-class>com.kk.app.Contoller.userlogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogoutController</servlet-name>
    <url-pattern>/userlogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>captchagencontroller</display-name>
    <servlet-name>captchagencontroller</servlet-name>
    <servlet-class>com.kk.app.Contoller.captchagencontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>captchagencontroller</servlet-name>
    <url-pattern>/captchagencontroller</url-pattern>
  </servlet-mapping>
</web-app>